.fluxos {
  padding: 6rem 1rem;

  @include media-breakpoint-down(sm) {
    padding: 3.6rem 1rem 4.5rem;
  }

  &__container {
    margin: 0 auto;

    >.title {
      font: 600 2rem/2.5rem $font_primary;
      color: $title_primary;
      text-align: center;

      @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: left;
      }

      strong {
        font-weight: 700;
        color: $title_dark;
      }
    }

    .dash {
      display: block;
      margin: 2rem auto 5.25rem;

      @include media-breakpoint-down(sm) {
        margin: 1.5rem auto 3rem 0;
      }
    }

    .fluxos__cards {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      gap: 55px;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
      }

      .cartao {
        flex: 1 1 250px;
        max-width: 343px;
        padding: 38px 16px 38px 25px;
        border-radius: 1rem;
        border: solid 1px $border;
        background-color: $shape;

        &,
        .icon-wrapper,
        .title,
        .lead,
        a,
        .fa-chevron-right {
          transition: 0.3s;
        }

        &:nth-child(1) {
          .icon-wrapper {
            background-color: #E4EBFE;
          }
        }

        &:nth-child(2) {
          .icon-wrapper {
            background-color: #F4EBC7;
          }
        }

        &:nth-child(3) {
          .icon-wrapper {
            background-color: #EAFFF6;
          }
        }

        &:nth-child(4) {
          .icon-wrapper {
            background-color: #F2EEFF;
          }
        }

        &:nth-child(5) {
          .icon-wrapper {
            background-color: #FFEEEE;
          }
        }

        &:nth-child(6) {
          .icon-wrapper {
            background-color: #FFF6ED;
          }
        }

        .icon-wrapper {
          border-radius: 1rem;
          width: 77px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1.45rem;

          .active {
            display: none;
          }
        }

        .title {
          font: 700 1.5rem/2rem $font_primary;
          color: $title_primary;
          margin-bottom: 2rem;
        }

        .lead {
          font: 300 1.25rem/2rem $font_primary;
          color: $title_primary;
        }

        a {
          font-size: 1.25rem;
          color: $title_primary;

          .fa-chevron-right {
            font-size: 1rem;
            color: $title_primary;
          }
        }

        &:hover {
          background-color: $primary_light;
          box-shadow: 0 4px 31px rgba(0, 0, 0, 0.15);

          .icon-wrapper {
            background-color: $shape;

            > img {
              display: none;
            }

            .active {
              display: block;
            }
          }

          .title,
          .lead,
          a,
          .fa-chevron-right {
            color: $shape;
          }
        }
      }
    }
  }
}