.banner{
  background-color: $roxo;
  color: $white;
  display: block;
  padding-top: 250px;
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
  z-index: -1;

  &.banner-home{
    background: url(../images/Banner.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 768px;

    h1{
      font-size: 3.5rem;
    }
  }
  h1{
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .btn{
    color: $roxo;
  }
}