.sugeridos{
    &__titulo{
        color: $roxo;
    }

    &__cards{
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        .card{
            flex: 1 0 250px;
            max-width: 325px;
            margin: 10px 10px 20px;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 1px 1px 8px 2px #00000034;
            position: relative;
            transform: scale(1, 1);
            transition: 0.2s transform ease-in-out;

            &-img{
                border-radius: 8px;
                overflow: hidden;
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 210px;

                .img{
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                }
            }
            &-conteudo{
                .titulo{
                    a{
                        color: $roxo;
                    }
                    a:hover{
                        text-decoration: none;
                    }
                    a::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                    }
                }

                .resumo{

                }
            }
        }
        .card:hover{
            transform: scale(0.99, 0.99);
        }
    }
}