.conteudo{
  // h2, h3{
  //   color: $roxo;
  // }
  .lead{
    color: $roxo;
    font-family: "Open Sans", serif;
    font-size: 1.5rem;
    font-weight: 700;

    @include media-breakpoint-up(md) {
      padding: 0 5rem;
    }
  }
  img{
    height: auto;
    max-width: 100%;
  }
}