.depoimentos {
  background-attachment: fixed !important;
  background-color: $roxo;
  background-position: center center;
  background-size: cover;
  color: $white;
  min-height: 500px;

  .depoimento__conteudo {
    margin-bottom: 1rem;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
      margin-bottom: 0;
    }
    .depoimento__nome {
      color: $amarelo;
    }
    .depoimento__cargo {
      font-family: Roboto, sans-serif;
      font-size: 1rem;
      font-weight: 400;

      @include media-breakpoint-up(md) {
        &:before {
          background: url(../images/grafismo-3bolinhas.png) no-repeat;
          background-size: contain;
          display: block;
          content: " ";
          right: 250px;
          height: 50px;
          position: absolute;
          bottom: 0;
          transform: rotate(-45deg);
          width: 50px;
        }
      }
    }
  }
  .depoimento__foto {
    align-items: center;
    display: flex;
    justify-content: center;

    &:before {
      background: url(../images/grafismo-3bolinhas.png) no-repeat;
      background-size: contain;
      display: block;
      content: " ";
      left: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      transform: rotate(-45deg);
      width: 50px;
    }
    &:after {
      background: url(../images/grafismo-3bolinhas.png) no-repeat;
      background-size: contain;
      bottom: 0;
      display: block;
      content: " ";
      height: 50px;
      position: absolute;
      right: 50px;
      transform: rotate(45deg);
      width: 50px;
    }
    img {
      max-height: 200px;
      max-width: 200px;
      border-radius: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
