.blog__list {
  
  article:first-child{
    margin-top: 0 !important;
  }
  .blog__image {
    img {
      border-radius: 10px;
      margin: 10px auto;
    }
  }
  .blog__content {
    h3 {
      a {
        color: $roxo;
        text-decoration: none;
        transition: all ease-in-out 0.25s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
    .text-muted {
      font-size: 0.8rem;
      margin-bottom: 1rem;

      a {
        color: $roxo;
        font-weight: bold;
      }
    }
    .btn {
      padding: 0.5rem 2rem;
      transition: all ease-in-out 0.25s;

      &:hover {
        background: transparent;
        border: 1px solid $roxo;
        color: $roxo;
      }
    }
  }
  aside {
    .widget {
      h5 {
        border-bottom: 2px solid $roxo;
        color: $roxo;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
      }
      ul {
        padding-inline-start: 0.5rem;

        li {
          list-style: none;

          a {
            color: $black;
            text-decoration: none;
            transition: all ease-in-out 0.25s;

            &:hover {
              color: $roxo;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.blog__post {
  .blog__title {
    .text-muted {
      font-size: 0.8rem;
      margin-bottom: 1rem;

      a {
        color: $roxo;
        font-weight: bold;
      }
    }
    h1 {
      color: $roxo;
    }
  }
  .blog__image {
    img {
      border-radius: 10px;
      height: auto;
      margin: 10px auto;
      width: 100%;
    }
  }
  .blog__content {
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $roxo;
      line-height: 1.25;
      margin: 2.5rem 0 1rem 0;
    }
    p {
      font-size: 1rem;
      line-height: 1.75;
    }
    ul, ol {
      li {
        font-size: 1rem;
        line-height: 1.75;
        margin-bottom: .5rem;
      }
    }
    a{
      color: $roxo;
      border-bottom: 1px solid $roxo;
      transition: all ease-in-out .25s;

      &:hover{
        background: $roxo;
        color: $white;
        border-bottom: none;
        padding: 0 2px;
        text-decoration: none;
      }
    }
  }
}
