.main {
  background-color: $roxo;
  padding-top: 12rem;

  @media(max-width: 450px) {
    padding-top: 10rem;
  }

  h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 3.5rem;

    @media(max-width: 450px) {
      font-size: 1.75rem;
      margin-bottom: 3rem;
    }
  }

  .planos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 20px;

    &__lettering {
      text-align: center;
      border: solid 2px $amarelo;
      border-radius: 0.5rem;
      color: $amarelo;
      margin: 0 1rem 2rem;
      padding: 0.5rem 0;
    }

    &__card {
      flex: 1 1 300px;
      max-width: 400px;
      background-color: #ffffff;
      border-radius: 1rem;
      overflow: hidden;
      // margin: 0 1rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header {
        background-color: $amarelo;

        h3 {
          color: #ffffff;
          text-align: center;
          font-size: 1.5rem;
          padding: 1rem 0;
        }
      }

      .body {
        .price {
          height: 90px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          text-align: center;
          margin-top: 2rem;
          margin-bottom: 2rem;

          p {
            font-size: 1.1rem;
            margin-bottom: -1rem;
            font-weight: 800;

            &.texto {
              font-size: 2rem;
            }

            strong {
              font-size: 3.4rem;
            }

            span {
              width: 100%;
            }
          }
        }

        .descriptions {
          padding: 0 2rem;

          li {
            border-bottom: solid 1px #cccccc;
            margin-bottom: 1rem;

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }

      .footer {
        margin-top: auto;

        a {
          background-color: $rosa-500;
          display: block;
          margin: 2rem auto 0;
          width: 150px;
          height: 3rem;
          line-height: 3rem;
          border-radius: 0.5rem;
          color: $white;
          text-align: center;
          transition: filter 0.2s;

          &:hover {
            text-decoration: none;
            filter: brightness(0.8);
          }
        }

        .aviso {
          display: block;
          text-align: center;
          margin: 1rem 0;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.contato {

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: $roxo;

    @media(max-width: 450px) {
      font-size: 1.85rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;

    label {
      margin-bottom: 1rem;

      input {
        width: 100%;
        border-radius: 0.3rem;
        outline: none;
        border: solid 1px #cccccc;
        padding: 0.75rem 0.5rem;

        &.error {
          border: solid 1px rgba(192, 10, 10, 0.664);
        }

        &.valid {
          border: solid 1px rgba(26, 194, 26, 0.555);
        }

        &:focus {
          border: solid 1px $roxo;
        }
      }

      & label.error {
        color: #c11515d9;
      }
    }

    button {
      background-color: $roxo;
      font-size: 1.2rem;
      color: $white;
      border: none;
      height: 2.75rem;
      border-radius: 0.3rem;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  .success-message {
    display: none;
    color: #0d540d;
    background-color: #17d51746;
    padding: 7px;
    border-radius: 0.5rem;
  }
}