$body-color: #404040;
$font-family-sans-serif: 'Open Sans', sans-serif;

$h1-font-size: 3.5rem;
$h2-font-size: 2.5rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: .75rem;

/*Palet Colors*/
$roxo: #411C54;
$amarelo: #F2C30D;
$cinza: #404040;
$cinza-claro: #fafafa;
$white: #ffffff;
$rosa-500: #D02752;

$theme-colors: (
  "roxo": $roxo,
  "amarelo": $amarelo,
  "white": $white,
  "cinza": $cinza,
  "cinza-claro": $cinza-claro,
);

// BTN
$btn-padding-y: 1rem;
$btn-padding-x: 2.5rem;
$btn-font-weight: 700;

// NAVBAR
$navbar-padding-y: .5rem;
$navbar-padding-x: 1rem;

html {
  scroll-behavior: smooth;
}