.wp-block-columns{
  margin: 100px auto;

  &:nth-child(even){
    flex-direction: row-reverse;
  }
}

// Estilos de alinhamento do Gutemberg
.entry-content > *:not(.alignwide):not(.alignfull) {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.wp-block-image.alignfull {
  display: block;
  text-align: center;
}
.wp-block-image.alignwide {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

// Estilos de blocos
.wp-block-columns {
  display: flex;
}
.wp-block-column {
  flex: 1;
  margin: 0 20px;
}

@media screen and (max-width: 764px) {
  .wp-block-columns.has-3-columns {
    flex-flow: row wrap;
  }

  .has-3-columns .wp-block-column:first-child {
    flex-basis: 100%;
  }
}

@media (max-width: 478px) {
  .wp-block-columns.has-3-columns {
    display: block;
  }

  .wp-block-column {
    margin: 20px 0;
  }
}

// cor roxo
.has-roxo-background-color {
	background-color: #411C54;
}
.has-roxo-color {
	color: #411C54;
}

// cor amarelo
.has-amarelo-background-color {
	background-color: #F2C30D;
}
.has-amarelo-color {
	color: #F2C30D;
}

// cor cinza
.has-cinza-background-color {
	background-color: #404040;
}
.has-cinza-color {
	color: #404040;
}

// cor cinza claro
.has-cinza-claro-background-color {
	background-color: #fafafa;
}
.has-cinza-claro-color {
	color: #fafafa;
}

// cor branco
.has-branco-background-color {
	background-color: #ffffff;
}
.has-branco-color {
	color: #ffffff;
}